<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="fragments/resources :: headTags"></div>
    <title>Riepilogo attivit&agrave;</title>
</head>

<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container mt-3">
        <h1 class="text-center">
            Riepilogo attivit&agrave;
        </h1>
        <hr>
        <div class="row">
            <div class="h3">Ricette aggiunte di recente</div>
            <div class="col-6 fs-4" th:each="ricetta : ${piuRecenti}">
                <a target="_blank" th:text="|&#8226; ${ricetta.titolo} ${ricetta.dataDiCreazione}|" th:href="@{|/ricetta/${ricetta.id}|}"
                        class="text-decoration-none text-dark">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="h3">Ricette pi&ugrave; visualizzate</div>
            <div class="col-6 fs-4" th:each="ricetta : ${piuViste}">
                <a target="_blank" th:text="|&#8226; ${ricetta.titolo} ${ricetta.visualizzazioni}|" th:href="@{|/ricetta/${ricetta.id}|}"
                        class="text-decoration-none text-dark">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="h3">Ricette pi&ugrave; commentate</div>
            <div class="col-6 fs-4" th:each="ricetta : ${piuCommentate}">
                <a target="_blank" th:text="|&#8226; ${ricetta.titolo} ${ricetta.commenti.size()}|" th:href="@{|/ricetta/${ricetta.id}|}"
                        class="text-decoration-none text-dark">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="h3">Ricette pi&ugrave; popolari</div>
            <div class="col-6 fs-4" th:each="ricetta : ${piuCommentate}">
                <a target="_blank" th:text="|&#8226; ${ricetta.titolo} ${ricetta.commenti.size()}|" th:href="@{|/ricetta/${ricetta.id}|}"
                        class="text-decoration-none text-dark">
                </a>
            </div>
        </div>
    </div>
    <div th:replace="fragments/resources :: scripts"></div>
</body>

</html>


<div class="row">
    <div class="fs-4 col-6" th:each="ricetta : ${lista}">
        <a target="_blank"th:text="|&#8226; ${ricetta.titolo}|" th:href="@{|/ricetta/${ricetta.id}|}"
            class="text-decoration-none text-dark"></a>
        <a class="text-decoration-none text-success m-1" th:href="@{|/admin/ricetta/modifica/${ricetta.id}|}"><i class="fas fa-pencil-alt" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifica testo ricetta"></i></a>
        <a class="text-decoration-none text-success m-1" th:href="@{|/admin/ricetta/modifica/${ricetta.id}/ingredienti|}"><i class="fas fa-list-ul" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifica ingredienti"></i></a>
        <a class="text-decoration-none text-success m-1" th:href="@{|/admin/ricetta/modifica/${ricetta.id}/immagini|}"><i class="far fa-images" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifica immagini"></i></a>
        <a class="text-decoration-none text-success m-1" th:href="@{|/admin/modifica/cancella/${ricetta.id}|}" onclick="return confirm('Sei sicuro?')" data-bs-toggle="tooltip" data-bs-placement="top" title="Elimina ricetta"><i class="fas fa-trash-alt"></i></a>   
    </div>
</div>