<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="fragments/resources :: headTags"></div>
    <title>Commenti</title>
</head>

<body class="bg-light">
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <h1 class="text-center">Gestione commenti</h1>
    <hr>
    <div class="container">
        <div th:if="${lista.size() > 0}" class="row mt-5">
        	<span><a th:href="@{/admin/commenti/email}" class="btn btn-success">Elenco email bannate</a></span>
            <div th:each="ricetta : ${lista}" th:if="${ricetta.commenti.size() > 0}">
                <div class="row">
                    <span class="h4" th:text="${ricetta.titolo}"></span>
                       <div th:each="commento : ${ricetta.commenti}"> 
                            <ul>
                                <li th:classAppend="${commento.email.isBanned} ? text-danger">
                                    <span th:text="${commento.email.email}"></span> 
                                    
                    <!-- BAN -->       <a class="text-decoration-none text-success m-1"
	                                	th:href="@{|/admin/commenti/elimina/${commento.id}|}"
	                                	onclick="return confirm('Sei sicuro?')" data-bs-toggle="tooltip" data-bs-placement="top"
	                                	title="Ban"><i class="fas fa-ban"></i></a>
	                                	
	                              <!-- BAN -->  	
                                    <div th:text="|Nome: ${commento.nome}|"></div>
                                    <p th:text="|Testo: ${commento.testo}|"></p>
                                    <a class="text-decoration-none text-success m-1"
		                                th:href="@{|/admin/commenti/elimina/${commento.id}|}"
		                                onclick="return confirm('Sei sicuro?')" data-bs-toggle="tooltip" data-bs-placement="top"
		                                title="Elimina"><i class="fas fa-trash-alt"></i></a>
                                </li>
                                <hr>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/resources :: scripts"></div>
</body>

</html>