<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/resources :: headTags"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Elenco mail bannate</title>
</head>

<body class="bg-light">
	 <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container-fluid">
        <h1>Elenco mail bannate</h1>
        <div th:if="${lista.size() > 0}">
            <div th:each="email : ${lista}">
                    <span th:text="${email.email}"></span>
                    <a class="text-decoration-none text-success m-1" th:href="@{|/admin/commenti/ban/${email.id}|}"
                        onclick="return confirm('Sei sicuro?')" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Rimuovi ban"><i class="fas fa-user"></i></a>
            </div>
        </div>
    </div>
    <div th:replace="fragments/resources :: scripts"></div>
</body>

</html>