<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="fragments/resources :: headTags"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${categoriaNome.nome}"></title>
</head>

<body class="bg-light">
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container">
        <h1 class="text-center" th:text="${categoriaNome.nome}"></h1>
        <hr>
        <div class="row mb-4">
            <div th:each="ricetta : ${lista}" class="col-4">
                <a th:href="@{|/ricetta/${ricetta.id}|}" class="text-decoration-none text-dark">
                	<div th:replace="fragments/card :: card"></div>  
                </a>
            </div>
        </div>
<div th:replace="fragments/resources :: scripts"></div>
</body>

</html>    