<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/resources :: headTags"></div>
    <link rel="stylesheet" href="style.css">
    <title th:text="${ricetta.titolo}">Ricetta</title>
</head>

<body class="bg-light">
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container flex ">
        <div class="flex-row justify-content-center">
            <h1 th:text="${ricetta.titolo}" class="text-center"></h1>
            <span>la ricetta è stata visualizzata</span>
            <span th:text="${ricetta.visualizzazioni}"> volte</span>
        </div>
        <div class="row justify-content-start">
            <h5>Descrizione</h5>
            <div class="col p-2">

                <p th:text="${ricetta.descrizioneDellaRicetta}"></p>
            </div>
        </div>
        <hr>
        <div class="row justify-content-start">

            <div class="col-4">
                <h5>Ingredienti</h5>
                <ol>
                    <li>Bucatini 100g</li>
                    <li>Guanciale 50g</li>
                    <li>Pomodorini 100g</li>
                    <li>Pecorino Romano 30g</li>
                </ol>
            </div>
            <div class="col-3 p-2">
                <img class="p-0" style="width:250px" th:src="${ingrediente.img}" alt="ingerdienteimg">
            </div>
        </div>
        <hr>
        <div class="row justify-content-start">
            <h5>Procedimento</h5>
            <div class="col-8 p-2">
                <p th:text="${ricetta.testoDellaRicetta}"></p>
            </div>
            <div class="col-3">
                <img th:src="${img1}" class="p-0" style="width:250px" alt="ricetta-foto">
            </div>
        </div>
    </div>
    <div class="container" id="commento">
        <h5 class="text-center">Lascia un commento</h5>
        <form action=""></form>
        <div class="col border rounded-3 border-2 p-2">
            <div class="row p-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
            </div>
            <div class="row p-3">
                <label for="nome" classe="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="nome">
            </div>
            <div class="row p-3">
                <label for="commento" classe="form-label">Commenta</label>
                <input type="text" class="form-control" id="commento" placeholder="commento">
            </div>
            <div class="row p-3">
                <input type="submit" class="btn btn-light">
            </div>

        </div>
        </form>
        <div class="col">


            <div th:if="${list.size() > 0}" class="row mt-5">
                <h5>Commenti di altri utenti</h5>
                <div th:each ="item : ${list}" class="border rounded-2 p-3">
                    <span th:text="${item.email}"></span>
                    <p th:text="${item.testo}"></p>
                </div>
            </div>
            <hr>
</body>

</html>