<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="fragments/resources :: headTags"></div>
    <link rel="stylesheet" href="style.css">
    <title>Dettaglio Ricetta</title>
</head>

<body class="bg-light">
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container flex ">
        <div class="flex-row justify-content-center">
            <h1 class="text-center">Amatriciana</h1>
        </div>
        <div class="row justify-content-start">
            <h5>Descrizione</h5>
            <div class="col-8 p-2">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies pellentesque lectus,
                    condimentum gravida leo fringilla non. Suspendisse volutpat ultricies ex et tempor. Aenean porttitor
                    gravida diam, nec auctor lectus accumsan non. Nulla facilisi. Sed gravida tellus nec lectus blandit
                    pharetra. Suspendisse finibus condimentum leo id maximus. Nulla et metus sed dolor varius aliquam
                    nec quis metus. Phasellus a magna massa. Nullam ultrices blandit arcu ut faucibus. Mauris
                    sollicitudin justo maximus, dignissim arcu mollis, blandit odio. Aenean et sapien varius, ornare
                    neque at, semper ipsum. Nam aliquet rhoncus mauris, et mattis tellus semper elementum. Cras quam
                    ante, dictum sed metus sit amet, tincidunt volutpat ligula.</p>
            </div>
            <div class="col-3">
                <img class="p-0" style="width:250px"
                    src="https://media.istockphoto.com/photos/pasta-bucatini-amatriciana-picture-id1022198442?b=1&k=20&m=1022198442&s=170667a&w=0&h=2MXj1Gh0pEsj6nWO_pqny0hN5xmigY01D84iX69qXuw="
                    alt="ricetta-foto">
            </div>
        </div>
        <hr>
        <div class="row justify-content-start">

            <div class="col-4">
                <h5>Ingredienti</h5>
                <ol>
                    <li>Bucatini 100g</li>
                    <li>Guanciale 50g</li>
                    <li>Pomodorini 100g</li>
                    <li>Pecorino Romano 30g</li>
                </ol>
            </div>
            <div class="col-3 p-2">
                <img class="p-0" style="width:250px"
                    src="https://media.istockphoto.com/photos/pasta-bucatini-amatriciana-picture-id1022198442?b=1&k=20&m=1022198442&s=170667a&w=0&h=2MXj1Gh0pEsj6nWO_pqny0hN5xmigY01D84iX69qXuw="
                    alt="ingerdiente1">
            </div>
            <div class="col-3 p-2">
                <img class="p-0" style="width:250px"
                    src="https://media.istockphoto.com/photos/pasta-bucatini-amatriciana-picture-id1022198442?b=1&k=20&m=1022198442&s=170667a&w=0&h=2MXj1Gh0pEsj6nWO_pqny0hN5xmigY01D84iX69qXuw="
                    alt="ingrediente2">
            </div>
        </div>
        <hr>
        <div class="row justify-content-start">
            <h5>Procedimento</h5>
            <div class="col p-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies pellentesque lectus,
                    condimentum gravida leo fringilla non. Suspendisse volutpat ultricies ex et tempor. Aenean porttitor
                    gravida diam, nec auctor lectus accumsan non. Nulla facilisi. Sed gravida tellus nec lectus blandit
                    pharetra. Suspendisse finibus condimentum leo id maximus. Nulla et metus sed dolor varius aliquam
                    nec quis metus. Phasellus a magna massa. Nullam ultrices blandit arcu ut faucibus. Mauris
                    sollicitudin justo maximus, dignissim arcu mollis, blandit odio. Aenean et sapien varius, ornare
                    neque at, semper ipsum. Nam aliquet rhoncus mauris, et mattis tellus semper elementum. Cras quam
                    ante, dictum sed metus sit amet, tincidunt volutpat ligula.</p>
            </div>
        </div>
    </div>
    <div class="container" id="commento">
        <h5 class="text-center">Lascia un commento</h5>
        <form action=""></form>
        <div class="col border rounded-3 border-2 p-2">
            <div class="row p-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
            </div>
            <div class="row p-3">
                <label for="nome" classe="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="nome">
            </div>
            <div class="row p-3">
                <label for="commento" classe="form-label">Commenta</label>
                <input type="text" class="form-control" id="commento" placeholder="commento">
            </div>

        </div>
        </form>
        <div class="col">

            <div class="row mt-5"></div>
            <h5>Commenti di altri utenti</h5>
            <div class="border rounded-2 p-3">
                <span>GinoPaoli@gmial.com</span>
                <p>Best Pasta ever</p>
                <i class="bi bi-hand-thumbs-up">32</i>
                <i class="bi bi-chat ps-2">5</i>
            </div>
<hr>
</body>

</html>