<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/resources :: headTags"></div>
    <title th:text="${ricetta.titolo}"></title>
</head>

<body class="bg-light justify-content-center">
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container mt-3">

        <div class="flex-row justify-content-center">
            <h1 th:text="${ricetta.titolo}" class="text-center"></h1>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${banned}">
            Il tuo account &egrave; bannato, non puoi pubblicare commenti
        </div>

        <div class="row">
            <div class="col-6 p-0 ">


                <div id="immaginiList" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#immaginiList" data-bs-slide-to="1"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#immaginiList" data-bs-slide-to="2"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#immaginiList" data-bs-slide-to="3"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img style="width: 100%; height: 100%;" th:src="|/${ricetta.id}/img|">
                        </div>
                        <div th:each="item : ${ricetta.immagini}">
                            <div class="carousel-item">
                                <img style="width: 100%; height: 100%;" th:src="|/${ricetta.id}/img|">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#immaginiList"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#immaginiList"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6 p-2 border border-2">
                <p> <span><i class="far fa-eye"></i></span>
                    <span th:text="${ricetta.visualizzazioni}"></span>
                </p>
                <p>
                    <span>Tempo di Preparazione: </span>
                    <span th:text="${ricetta.tempoDiPreparazione}"></span>
                </p>
                <p>
                    <span>Difficoltà: </span>
                    <th:block th:switch="${ricetta.livelloDiDifficolta}">
                        <span th:case="'1'">facile</span>
                        <span th:case="'2'">medio</span>
                        <span th:case="'3'">difficile</span>
                    </th:block>
                </p>
                <p>
                    <span>Descrizione: </span>
                    <br>
                    <span th:text="${ricetta.descrizione}"></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 border border-2">
                <div class="h5">Ingredienti</div>
                <div th:if="${ingredienti.size() > 0}">
                    <ul th:each="item : ${ingredienti}">
                        <li><span th:text="${item.nome}"></span>: <span th:text="${item.quantita}"></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-start">
            <h5>Procedimento</h5>

            <div class="row"></div>
            <div class="col-8 p-2">
                <p th:text="${ricetta.testoDellaRicetta}"></p>
            </div>
            <div class="col-3">
                <!-- <img th:src="${img1}" class="p-0" style="width:250px" alt="ricetta-foto"> -->
            </div>
        </div>
    </div>

    <div class="container" id="commento">
        <h5>Lascia un commento</h5>



        <form th:action="@{/ricetta/commento/{id}(id=${ricetta.id})}" th:object="${commento}" method="post">
            <div th:if="#{fields.hasErrors}">
                <ul>
                    <li th:each="error : ${#fields.errors}"></li>
                </ul>
            </div>
            <div class="col-6 border rounded-3 border-2 p-2">
                <div class="row p-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" th:field="*{email.email}" class="form-control" id="email"
                        placeholder="name@example.com">
                </div>
                <div class="row p-3">
                    <label for="nome" classe="form-label">Nome</label>
                    <input type="text" th:field="*{nome}" class="form-control" id="nome" placeholder="nome">
                </div>
                <div class="row p-3">
                    <label for="commento" classe="form-label">Commenta</label>
                    <input type="text" th:field="*{testo}" class="form-control" id="commento" placeholder="commento">
                </div>
                <div class="row p-3">
                    <button type="submit" class="btn btn-light bg-success text-light">Invia</button>
                </div>
            </div>

        </form>

        <div class="col">
            <div th:if="${list.size() > 0}" class="row mt-5">
                <h5>Commenti di altri utenti</h5>
                <div th:each="item : ${list}" class="border rounded-2 p-3 m-2" th:if="${item.email.isBanned == false}">
                    <span th:text="${item.nome}" class="text-success"></span>
                    <p th:text="${item.testo}" class="border border-2 p-2 rounded-2"></p>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div th:replace="fragments/resources :: scripts"></div>
</body>

</html>

<!--<div class="col-6" th:each=" img1: ${ricetta.immagini}">
            <img class="p-0" style="width:250px" th:src="|/detail/${ricetta.id}/${img1.id}/img|" alt="ingredienteimg">
            titti gli elementi della array di foto
        </div>
    -->
<!--th:src="|/${ricetta.id}/img|";  il primo elemento dell'array di foto-->