<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div class="card shadow" th:fragment="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <span th:text="${ricetta.titolo}" class="h5 card-title"></span>
            <th:block th:switch="${ricetta.livelloDiDifficolta}">
                <span class="text-center bg-info text-light rounded p-1" th:case="'1'">
                    <i class="fas fa-utensil-spoon"></i> facile</span>
                <span class="text-center bg-info text-light rounded p-1" th:case="'2'">
                    <i class="fas fa-utensil-spoon"></i> medio</span>
                <span class="text-center bg-info text-light rounded p-1" th:case="'3'">
                    <i class="fas fa-utensil-spoon"></i> difficile</span>
            </th:block>
        </div>
        <div class="position-relative">
            <img th:src="@{|/${ricetta.id}/img|}" class="img-fluid" alt="img">
            <div class="text-center bg-success text-light px-1 position-bottom-left" th:if="${ricetta.isVegan == true}">
                <span><i class="fas fa-seedling"></i> vegano</span>
            </div>
            <div class="text-center bg-success text-light px-1 position-bottom-left"
                th:if="${ricetta.isVegan == false and ricetta.isVegetarian == true}">
                <span><i class="fas fa-leaf"></i> vegetariano</span>
            </div>
        </div>
        <p class="card-text" th:text="${ricetta.descrizione}"></p>
    </div>
</div>

</html>