<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="fragments/resources :: headTags"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Pagina di errore</title>
</head>

<body class="bg-light">
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container mt-3">
        <!-- <h1 class="text-center">Blog ricette</h1> -->
        
        <div class="h2 text-center mb-4 gy-2">
            <div>
                Qualcosa è andato storto
            </div>
        </div>
		<div class="row text-center justify-content-center">
        	<div class="col-8 border border-danger border-2 rounded m-1 pt-3 pb-3"><i class="fas fa-exclamation-triangle"></i> Si è verificato un problema</div   >
        </div>
        <div th:replace="fragments/resources :: scripts"></div>
</body>
</html>